.dropdown-options {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 40px);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.dropdown-option {
  cursor: pointer;
}
