<form
  #ideaForm="ngForm"
  class="input-group mb-3"
  (ngSubmit)="submitIdea()"
 >
  <input
    aria-describedby="edit-idea-button"
    aria-label="Edit idea"
    class="form-control"
    name="idea"
    placeholder="Edit idea..."
    required
    type="text"
    [(ngModel)]="editedIdeaContent"
  >
  <button
    id="edit-idea-button"
    class="btn btn-outline-primary"
    [disabled]="!(ideaForm.valid && editedIdeaContent.trim())"
    testId="edit-idea-button"
    type="submit"
  >
    Edit
  </button>
  <button
    class="btn btn-outline-danger"
    testId="cancel-edition-button"
    type="button"
    (click)="cancelEdition()"
  >
    x
  </button>
</form>
