<nav
  class="navbar navbar-expand-md bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/"
    >
      Command Center
    </a>
    <button
      aria-controls="navbarContent"
      [attr.aria-expanded]="isMobileMenuOpen()"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      testId="mobileMenuButton"
      type="button"
      (click)="toggleMobileMenu($event)"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [class.show]="isMobileMenuOpen()"
      id="navbarContent"
      testId="mobileMenu"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        @for (navLink of NAV_LINKS; track navLink.id) {
          <li class="nav-item">
            <a
              ariaCurrentWhenActive="page"
              class="nav-link"
              [routerLink]="navLink.routerLink"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [attr.testId]="navLink.testId"
              (click)="closeMenu($event)"
            >
              {{ navLink.content }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
