<div class="card w-100 mb-2">
  <div class="card-body">
    <p class="card-text">{{ idea.content }}</p>
    <div class="dropdown d-grid d-md-flex">
      <button
        [attr.aria-expanded]="isDropdownOpen()"
        class="btn btn-secondary dropdown-toggle"
        [class.show]="isDropdownOpen()"
        [disabled]="isIdeaEdited"
        role="button"
        testId="actionsButton"
        (click)="toggleDropdown($event)"
      >
        Actions
    </button>

      <ul
        class="dropdown-menu"
        [class.show]="isDropdownOpen()"
        [class.dropdown-options]="isDropdownOpen()"
        testId="dropdownMenu"
      >
        <li>
          <a
            class="dropdown-item dropdown-option"
            testId="assignOption"
            (click)="assignIdea()"
          >
            Assign
          </a>
        </li>
        <li>
          <a
            class="dropdown-item dropdown-option"
            testId="editOption"
            (click)="editIdea()"
          >
            Edit
          </a>
        </li>
        <li>
          <a
            class="dropdown-item dropdown-option"
            testId="removeOption"
            (click)="removeIdea()"
          >
            Remove
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
